* {
    font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
  } 
  
  header
  { 
    margin: 47px 0px 178px 42px;
}

#link-header-m{
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #17233D;
    cursor: pointer;
    margin-right: 36px  
} 
  
.link-header{
font-size: 14px;
font-weight: 400;
line-height: normal;
color: #17233D;
cursor: pointer;
margin-right: 32px      ;
}

  .button-header{
    border-radius: 6px;
    border: 1px solid #4CB537;
    background: #6FBF44;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    width: 124;
    height: 51;
    line-height: 24px;
  }

  .logo-image{   
    width: 595.178px;
    height: 500.005px; 
    border: 246px 724px 102px 121px;
    margin-left: 121px;
    margin-top: 163px;
    display: inline-block;
  }

section{
    display: inline-block;
    margin-left: 84.2px ;
}

  h1{
    color: #161A49;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px; /* 132.258% */
    width: 582px
 }

 p{
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px; 
    letter-spacing: 0.5px;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
 }

 a{
    color: #6FBF44;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 27px;
    cursor: pointer;
    }

      @media screen and (max-width:750px){

        #link-header-m, .link-header{
          display: none;
        }

        .button-header{
          position:fixed;
          top:17px;
          right:15px; 
          font-size:15px 
        }
        
        main{
          display: flex;
          flex-direction:column-reverse;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
        section{
          position: absolute; 
          top: calc(124px - 20px);
          width: auto;
          align-items:center;
          justify-content:center;
          text-align:center;
          margin: 0 auto;
        }
        h1{
          font-size:30px;
          line-height:30px;
          text-align:center;
          width: 80%;
          margin-left:9%;
        }
        p{
          font-size: 18px;
          line-height: 33px;
          text-align:center;
          width:80%;
          margin-top:29px;
          margin-bottom:26px;
          margin-left:10%;
        }
        #button-gren{
          text-align:center;
          width:80%;
          height:auto;
        }
        .logo-image{
          width: calc(100% - 78px);
          height: auto;
          max-width: 100%;
          margin-left: 39px;
          margin-right: 39px;
          display: block;
          margin-top:calc(508px - 323px);
        }
      }

      @media screen and (max-width: 470px) {
        .logo-image {
          width: calc(100% - 78px); /* Mantém a largura ajustada às margens laterais de 39px */
          height: auto; /* Mantém a proporção */
          max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
          margin-left: 39px; /* Mantém a margem esquerda de 39px */
          margin-right: 39px; /* Mantém a margem direita de 39px */
          margin-top:calc(508px - 273px)
      }
  }

        
        






        /*
        section{
          position: absolute; 
          top: calc(124px - 20px);
          display: flex;
          flex-direction:column;
          align-items:center;
          justify-content:center;
          text-align:center;
        }
        h1{
          font-size:30px;
          line-height:30px;
          text-align:center;
          width:auto;
        }
        p{
          font-size: 18px;
          line-height: 33px;
          text-align:center;
          width:auto;
          margin-top:29px;
          margin-bottom:26px
        }
        #button-gren{
          text-align:center;
          width:auto; 
        }

        /* Fazer a imagem ficar abaixo do conteúdo */
        /* main {
          display: flex;
          flex-direction: column-reverse; /* Inverte a ordem dos elementos */
         /* align-items: center;
          justify-content: center;
          text-align: center;
      }
  /* Ajustes no tamanho da imagem */
         /*.logo-image {
          width: 100%; /* A imagem ocupa toda a largura disponível */
          /*height: auto; /* Mantém a proporção da imagem */
          
        /*

    }

    @media screen and (max-width:400px){
      .button-header{
        position:fixed;
        top:17px;
        right:15px; 
        font-size:12px;  
        white-space: nowrap;
      }


    }

    /* section{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-alignt:center;
      }
      h1{
        font-size:30px;
        line-height:30px;
      } */